[gcode_macro START_PRINT]
description: Ender 5 KAMP Start with Smart Park
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}

    G90
    M83
    G28

    # Move to smart park position
    SMART_PARK

    # Heat bed first
    M140 S{BED_TEMP}
    M190 S{BED_TEMP}

    # KAMP adaptive mesh
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1

    # Heat nozzle after mesh
    M104 S{EXTRUDER_TEMP}
    M109 S{EXTRUDER_TEMP}

    # Line purge
    Line_Purge

    G92 E0


[gcode_macro END_PRINT]
description: Ender 5 End Print
gcode:
    M400
    G92 E0
    G1 E-2 F1800

    G91
    G1 Z10 F3000
    G90

    G1 X110 Y220 F6000  ; center X, bed forward

    M104 S0
    M140 S0
    M106 S0

    BED_MESH_CLEAR
    M84
